@model LizardPirate
<a href="/" class="btn btn-success">Home</a>
<div class="jumbotron">
    <h1>@Model.Name</h1>
    <p>Lizard Type: @Model.LizardType</p>
    <p>Pirate Roll: @Model.PirateRoll</p>
</div>